# MongoDB Connection String
# For local development:
MONGODB_URI=mongodb://localhost:27017/theKova2

# For MongoDB Atlas (cloud):
MONGODB_URI=mongodb+srv://annamerk16@gmail.com:Arkansas7300$@cluster34255.hrenzc6.mongodb.net/?appName=Cluster34255

# Server Port
PORT=5000

# Node Environment
NODE_ENV=development
